body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 50px;
  font-size: 4rem;
}

.colorDisplay {
  width: 300px;
  height: 300px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.25s ease;
}

.colorDisplay p {
  font-size: 30px;
  text-align: center;
}

label {
  font-weight: bold;
  margin: 10px;
}

input {
  width: 4rem;
  height: 2rem;
  border-radius: 8px;
  padding: 3px;
  border: 1px solid #9e9797;
  cursor: pointer;
}
